<%- include('partials/header') -%>
<div class="container">
    <div class="firm">
      <p>HODLINFO<span class="com">.com</span></p>
      <p class="powered">Powered by <span class="comp">Finstreet</span></p>
    </div>
    <select id="course" name="inr" required>
      <option value="price"><p>INR</p></option>
      <option value="kdln">C++</option>
      <option value="kaf">Java</option>
      <option value="dkvfd">Android Development</option>
    </select>
    <select id="course2" name="btc" required>
        <option value="lfslf"><p>BTC</p></option>
        <option value="vmsmcv">C++</option>
        <option value="dfd">Java</option>
        <option value="dfkfgd">Android Development</option>
    </select>
    <p class="number">58</p>
    <button class="btn-edit" type="submit" name="button"><span class="telegram"><i class="fab fa-telegram-plane"></i> Connect Telegram</span></button>
    <div class="button-round">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
   </div>
  </div>
  <form action="/" method="post">
    <table style="width:100%; cell-spacing:0; cell-padding:0; border:0;">
        <tr>
          <th class="name-2">#</th>
          <th class="name-2">name</th>
          <th class="name-2">Last</th>
          <th class="name-2">Buy/Sell Price</th>
          <th class="name-2">volume</th>
          <th class="name-2">base_unit</th>
        </tr>
        <tr class="row">
          <th class="name">1</th>
          <th class="name">BTC/INR</th>
          <th class="name"><%= last1 %></th>
          <th class="name"><%= buy1 %>/<%= sell1 %></th>
          <th class="name"><%= volume1 %></th>
          <th class="name"><%= base_unit1 %></th>
        </tr>
        <tr class="row">
          <th class="name">2</th>
          <th class="name">XRP/INR</th>
          <th class="name"><%= last2 %></th>
          <th class="name"><%= buy2 %>/<%= sell2 %></th>
          <th class="name"><%= volume2 %></th>
          <th class="name"><%= base_unit2 %></th>
        </tr>
    </table>
  </form>
<%- include('partials/footer') -%>
